*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    list-style: none;
    text-decoration: none;
  }
  /*variaveis*/
  :root{
    --main-color: #232323;
    --second-color: white;
    --text-color: #235ee7;
    --bg-color: white;
  
    /*box shadow */
    --box-shadow: 2px 2px 18px rgb(14 52 54 /15%)
  
  }
  img{
    width: 100%;
  }
  body{
    padding: 0;
    margin: 0;
  }

  header{
    display: block;
    width: 100%;
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  section{
    padding: 4.5rem  3rem;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
  }
  .logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color:  #2e5dc2;
  }
  .logo span{
    color: rgb(189, 219, 227);
  }
  .navbar{
    display: flex;
  }
  .navbar a{
    padding: 8px 17px;
    color: var(--ttext-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .navbar a:hover{
      color:#232323;
      padding-bottom: 25px;
  }
  .fa-bars{
    cursor: pointer;
    font-size: 24px;
    display: none;
  }
  #menu{
    display: none;
  }
  .btn-form{
    padding: 8px 22px;
    background-color: #5600f5;
    color: white;
    transition: 0.5s ease;
    border-radius:  15px 0px 0px 15px;
  }
  .btn-form:hover{
    background-color: #8649f7;
  }
  /* HOme*/
  .home{
     position: relative;
     margin-top: 5rem;
     /*
     background: linear-gradient(90deg, 
     rgba(7, 209, 236, 0.7) 0%,
      rgba(6, 6, 229, 0.7) 35%,
      rgba(246, 70, 164, 0.7) 100%),
        url(../img/imagem.webp);
        opacity: 0.4;*/
    background: url(../img/imagem.webp);
    background-size: cover;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 440px;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1;
  }
  .home::before{
    content: '';
    border-radius: 30px 0px 30px 30px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(79, 198, 228, 0.5);
    z-index: -1;
  }*/

  
  .home-text{
     padding-left: 35px;
  }
  .home-text h1{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    color: #FFF;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .home p{
    position: relative;
    left: 50px;
    width: 550px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
  }
  .home button{
    font-size: 20px;
    position: relative;
    padding: 20px;
    background-color:#027afbdf;
    color: #fff;
    border-radius: 0 12px 12px 12px;
    top: 30px;
    left: 35%;
    border: none;
    transition: 0.5s;
  }
  .home button:hover{
    background-color: #2e5dc2;
  }
  /*pop up*/
  /*banner-container*/
  .banner-container{
    background: linear-gradient(-55deg, #72FFFF 29%, #5800FF 29.1%, #0096FF , #72FFFF 68.1%);
    height: 700px;
    width: 100%;
  }
  .banner-container img{
    position: relative;
    height: 500px;
    right: 200px;
    border-radius: 100%;
    width: 590px;
    background-color: #235ee7;
    top: 100px;
    object-fit: cover;
  }
  .text-banner{
    z-index: 1;
    position: relative;
    display: inline-block;
    left: 55%;
    width: 350px;
  }
  .text-banner h2{
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
  }
  
  .text-banner p{ 
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .button-banner .btn-banner{
    position: relative;
    top: 30px;
    padding: 20px;
    left: 20%;
    width: 220px;
    height: 80px;
    font-size: 15px;
    color: #fff;
    box-shadow: inset 0 0 0 0 #fff;
    border: none;
    background-color: #000;
    outline: none;
    text-align: center;
    justify-content: center;
    transition: ease-out 0.3s;
  }
  .btn-banner:hover{
    color: #000;
    box-shadow: inset 220px 0 0 0 #fff;
  }

  /* about */
  .sobre-nos{
    display: flex;
    flex-direction: row;
    height: 600px;
  }
  .container-color{
    width: 50%;
    height: 600px;
    background: linear-gradient(to right top, #14E3DD, #6860FF);
  }
  
  .about-container{
    position: relative;
    z-index: 1;
    top: 150px;
    right: 90px;
    width: 800px;
    height: 300px;
    background: #fff;
    padding: 50px;
    text-align: left;
    justify-content: center;
    border-radius: 20px;
    box-shadow: -10px 10px 20px #5F7161;
  }
  .content-about h2{
     font-size: 30px;
     color:#000;
  }
  .content-about p{
    font-size: 17px;
    font-weight: 300;
    color: #5F7161;
  }

  /*service*/
.serviços-container{
  height: 300px;
  width: 100%;
  background: linear-gradient(90deg, 
                               rgba(2,2,36,0.7) 0%,
                               rgba(9,9,221,0.7) 35%,
                               rgba(0,221,255,0.7) 100%),
                                url(../img/rerapiaconv.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  text-align: center;
}
.service-tittle{
  position: relative;
  top: 40%;
  font-size: 35px;
  color:white;
  text-align: center;
}
.service-tittle h2:after{
   content: '';
   background: white;
   display: block;
   width: 150px;
   height: 3px;
   margin: 10px auto;
}
.imagem-servico-meio{
  width: 400px;
  height: 400px;
}
.imagem-servico{
  position: relative;
  left: 20%;
  width: 400px;
  height: 400px;
}
.service-content{
  padding-top: 100px ;
  display: flex;
  justify-content: space-between;
}
.text-service{
  border-left: 2px solid red;
  padding: 30px;
  position: relative;
  right: 50%;
  width: 400px;
}
.text-service h3{
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
  
}
.text-service p{
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}
.service-content-meio{
  display: flex;
  width: 100%;
}
.imagem-servico-meio{
  position: relative;
   left: 35%;
}
.text-service-meio{
  width: 400px;
  border-right: 2px solid red;
  padding: 30px;
  position: relative;
  left: 25%;
  width: 400px;
}
.text-service-meio h3{
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}
.text-service-meio p{
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}
.botao-service{
  position: relative;
  right: 100px;
  width: 200px;
  height: 50px;
  font-size: 12px;
  color: #fff;
  box-shadow: inset 0 0 0 0 #fff;
  border-radius: 12px;
  border: none;
  background-color: #000;
  outline: none;
  text-align: center;
  justify-content: center;
  transition: ease-out 0.3s;
}
.botao-service:hover{
  border: 1px solid black;
  color: #000;
  box-shadow: inset 220px 0 0 0 #fff;
}
  /*como funka */
  .testimonial-tittle{
    position: relative;
    top: 10%;
    font-size: 20px;
    color:white;
    text-align: center;
  }
  .testimonial-tittle h2:after{
     content: '';
     background: white;
     display: block;
     width: 150px;
     height: 3px;
     margin: 10px auto;
  }
.testimonial-container{
  height: 600px;
  width: 100%;
  background: linear-gradient(90deg, 
                               rgba(2,2,36,0.7) 0%,
                               rgba(65, 160, 242, 0.7) 35%,
                               rgba(0, 113, 242, 0.7) 100%),
                                url(../img/conversa.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  text-align: center;
}
  .testimonial{
    display: flex;
    position: relative;
    top: 20%;
    color: #FFF;
    align-items: center;
  }
  .testimonial-content {
    position: relative;
    left: 10%;
    width: 400px;
  }
  .testimonial-content h3{
     margin: 20px;
     font-size: 20px;
  }
  .icon-serv{
    border: 2px solid #fff;
    position: relative;
    left: 35%;
    bottom: 10%;
    width: 120px;
    justify-content: center;
    height: 120px;
    line-height: 120px;
    border-radius: 100%;
  }
  .icon-serv img{
    width: 110px;
    object-fit: cover;
    position: relative;
    top: 4px;
    justify-content: center;
    height: 110px;
    line-height: 110px;
    border-radius: 100%;
  }

  /*footer*/
  footer{
    background-color: #fff;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
.footer-col p{
  font-size: 15px;
  font-weight: 300;
  text-align: left;
}
.footer-col .logo-fot{
  font-weight: 800;
  font-size: 20px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: #000;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: #000;
    border: 1px solid #000;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #1139ed;
    background-color: white;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #415aca;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #415aca;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}

    /*making responsive */

  @media (max-width: 780px){
    .nav{
      padding: 10px 0;
    }
    #menu-icon{
      display: initial;
    }
    .navbar{
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      background: #FAC213;
      text-align: center;
      clip-path: circle(0% at 100% 1%);
      transition: 0.6s;
    }
    .navbar a{
      display: block;
      padding: 20px;
      margin: 1rem;
      color:#fff;
    }
    .navbar a:hover{
      background-color: #FEF9A7;
      border-radius: 12px;
      transition: 0.2s;
    }
    #menu:checked ~ .navbar{
      clip-path: circle(144% at 100% 1%);
    }
    .home-text{
      width: 350px;
    }
    .home-text p{
      position: relative;
      left: 0;
      width: 250px;
    }
}



 
